<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for author_book in author_book %}
        <h3>{{author_book.title}}</h3>
        <p>{{author_book.description}}</p>
        <p>Years: {{author_book.released_year}} </p>
    {% endfor %}

    <a href=" {% url 'books' %} " > Cписок книг </a>
</body>
</html>