<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
    <h2>Id: {{id}}</h2>
    <h2>First_name: {{first_name}}</h2>
    <h2>Last_name: {{last_name}}</h2>
    <h2>Age: {{age}}</h2>
    <a href="{% url 'books' %}"><p>Список книг</p></a>
</body>
</html>