<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    {% for book in books %}
    <h2>{{book.title}}</h2>
    <a href="{% url 'base' book.id %}"><p>Полное описание</p></a>
    <a href="{% url 'author' book.author_id %}"><p>Инфа по автору</p></a>
    {% endfor %}
</body>
</html>