<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Id: {{id}}</p>
    <p>Title: {{title}}</p>
    <p>Description: {{description}}</p>
    <p>Released_year: {{released_year}}</p>
    <a href="{% url 'books' %}"><p>Список книг</p></a>
</body>
</html>